.card{
    text-align: center;
    
    img{
        width: 150px;
    }

    .tipos{
        
        display: flex;
        justify-content: center;

        .tipo-card{
            padding: 2px 5px 2px 5px;

            color: white;
            font-size: 1em;
            font-weight: 700;
            
            border-radius: 5px;
        
        }
    }

    
}
