.homepage{
    
    
    .lista-tipos{
        background-color: rgb(161, 161, 161);
        text-align: center;

        

        h2{
            color: white;
            font-weight: 700;
        }
        
    }
    .collection-pokemon{
       margin-left: 10px;

       .informacion{
           margin-bottom: 10px;

           
       }

    }
}